{% extends "profile_base.html" %}

{% block title %}Modify Classes{% endblock %}

{% block tabcontent %}

<div class="row">
  <div class="col-lg-6">
    <form class="form-inline" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <legend>Add Classes</legend>
      <select name="dept">
        {% for dept in departments %}
        <option value="{{ dept }}">{{ dept }}</option>
        {% endfor %}
      </select>
      <input type="text" name="cnum" required>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
    <form class="form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <legend>Current Classes</legend>
      <ul class="list-unstyled">
        {% for class in classes %}
        <div class="checkbox">
          <label>
            <input type="checkbox" name="{{ class }}">
            {{ class }}
          </label>
        </div>
        {% endfor %}
      </ul>
      <button type="submit" class="btn btn-default">Remove</button>
    </form>
  </div>
</div>

{% endblock %}
