{% extends "base.html" %} 

{% block title %} Add Requirement Attendance {% endblock %}

{% block content %} 
<h1>Add Requirement</h1>

{% if successC %}
<p> {{successC}} </p>
{% endif %}

{% if successD %}
<p> {{successD}} </p>
{% endif %}

<form method="POST" class="container">
  {% csrf_token %} 
  <div class="row">
    <div class="col-md-4">
      {% if debug %}
      {% for id in debug %}
      {{id}} <br>
      {% endfor %}
      {% endif %}
      
      <h2>Candidates</h2>
      {% for candidate in candidate_list %} 
      <input type="checkbox" name="candidate" value={{ candidate.id }}> {{ candidate.profile }} <br>
      {% endfor %}

    </div>
    <div class="col-md-5">
      <h2>Distinguished Actives</h2>
      {% for da in da_list %}
      <input type="checkbox" name="da" value={{ da.id }}> {{ da.profile }} <br>
      {% endfor %}
    </div>
    <div class="col-md-3">
      <h2>Requirement</h2>
      <select name="requirement"> 	
	{% for requirement in requirement_list %}
	<option value={{ requirement.id }}> {{ requirement.name }} </option>
	{% endfor %}
      </select>
      <button type="submit">Submit </button>
    </div>
  </div>
</form>
{% endblock %}
