{% extends "base.html" %}

{% block title %}Candidates{% endblock %}

{% block content %}

{% load extras %}

<style>
  th{
      width: 25%;
  }

  .trackingArea{
  background-color: lavender;
  border: 2px solid;
  border-color: #dddddd;
  border-radius: 7px;
  /*margin: 0.5%;*/
  }
</style>



<h1>Candidates</h1>
<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
    <div class="pull-right">
      <form role="form" method="post">
        {% csrf_token %}
        <select name="term">
          <option value="{{dropdown_term.id}}">{{ dropdown_term }}</option>
      	  <option class="select-dash" disabled="disabled">----------</option>
      	  {% for t in terms %}
          <option value="{{ t.id }}">{{ t }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary" name="submit">Change Term</button>
      </form>
    </div>
  </div>
</div>

<div class="panel-group" id="accordion">
  {% for candidate in candidate_list %}
    {% with report=candidate.generate_req_report %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ candidate.profile|slugify }}">
            <div class="row">
              <div class="col-md-3">
                <div class="col-md-5">
                  <strong>{{ candidate.profile }}</strong>
                </div>
                <div class="col-md-7">
                  {% if candidate.requirement_count < candidate.requirements|listLength %}
                  <div class="panel panel-primary">
                  {% else %}
                  <div class="panel panel-success">
                  {% endif %}
                    <div class="panel-heading">
                      <em> Core: ( {{candidate.requirement_count}} / {{candidate.requirements|listLength}} )</em>
                    </div>
                  </div>
                </div>
              </div>
              

              {% for ev_req in report.2 %}
                {% if ev_req.0 == "Professional" %}
                <div class="col-md-3">
                {% else %}
                <div class="col-md-2">
                {% endif %}
                  {% if ev_req.1.1 < ev_req.1.2 %}
                  <div class="panel panel-danger">
                  {% else %}
                  <div class="panel panel-success">
                  {% endif %}
                    <div class="panel-heading" style="color: black">
                      <em>{{ev_req.0}}  :  ( {{ev_req.1.1}} / {{ev_req.1.2}} )</em>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
           </a>
        </div>
        <div id="collapse{{ candidate.profile|slugify }}" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="container">
              <div class="row">
                <div class="col-md-3 trackingArea" style="margin-left: 6.25%;">
                  <em style="text-align: center"> <h4> <u> Core Requirements </u> </h4> </em>
              	  <table>
                    <tr>
                      <th> <em> Requirement </em> </th>
                      <th> <em> Status </em> </th> 
                    </tr>
                    {% for core_req in report.0 %}
                      <tr> 
                        <td> <strong> {{core_req.0}}: </strong> </td>
                        <td>{% if core_req.1 == 'Completed' %} <span class="glyphicon glyphicon-ok text-success"></span> {% else %} <span class="glyphicon glyphicon-remove text-danger"> {% endif %}</td>
                      </tr>
                    {% endfor %}
              	   </table>
                </div>

                <div class="col-md-3 trackingArea" style="text-align: center; margin-left: 6.25%; margin-right: 6.25%;">
                  <em> <h4> <u> Candidate Track </u> </h4> </em>
                  {% if report.1 %} 

                    <p> Choice: </p> 
                    <p style="border: 7px solid #91d08c; border-radius: 12px; text-align: center;">{{ report.1.0 }}</p>
                    <p> Status: </p> 
                    <p style="border: 7px solid #91d08c; border-radius: 12px; text-align: center;">{{ report.1.1 }}</p>
                  
                  {% endif %}
                </div>

                <div class="col-md-3 trackingArea" style="background-color: #c3e5c8;">
                  <em style="text-align: center;"> <h4> <u> Point Total Progress </u> </h4> </em>
                  <div class="row" style="margin-top: 1%;">
                    <div class="panel-group" style="margin: 2%">
                      {% for ev_req in report.2 %}
                        {% if ev_req.0 != "Elective" %}
                          <div class="panel panel-default">
                          <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#catCollapse{{candidate.profile|slugify}}{{ ev_req.0|slugify }}"><strong>{{ ev_req.0 }} ( {{ev_req.1.1}} / {{ev_req.1.2}} points )</strong></a>
                          </div>
                          <div id="catCollapse{{candidate.profile|slugify}}{{ ev_req.0|slugify }}" class="panel-collapse collapse">
                            <div class="panel-body">
                              <table>
                                <tr>
                                  <th>Name</th>
                                  <th>Point Value</th>
                                </tr>
                                {% for req in ev_req.1.0 %}
                                  <tr>
                                    <td>{{ req }}</td>
                                    <td>{{ req.point_value }}</td>
                                  </tr>
                                {% endfor %}
                              </table>
                            </div>
                          </div>
                          </div>
                        {% else %}
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <strong>{{ ev_req.0 }} ( {{ev_req.1.1}} / {{ev_req.1.2}} points)</strong>
                            </div>
                          </div>
                        {% endif %}
                        
                      {% endfor %}
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endwith %}
  {% endfor %}
</div>
{% endblock %}