{% extends "profile_base.html" %}

{% block tabcontent %}

<div class="row">
  <div class="col-lg-6">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <legend>Candidate {{ term }}</legend>
        {% include "form_snippet.html" %}
        {% include "form_snippet.html" with form=shirt_form %}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
