{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-6">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <p class="help-block">This form will help us collect the information needed to help you start the initiation process.
          You will also submit your preferred tutoring hours here.
          Completion of this form will confirm your intent to initiate into Tau Beta Pi.</p>
        {% include "form_snippet.html" with form=user_personal_form %}
        {% include "form_snippet.html" with form=profile_form %}
        {% include "form_snippet.html" with form=shirt_form %}
      </fieldset>
      <fieldset>
        <legend>Tutoring Hour Preferences</legend>
        {% include "form_snippet.html" with form=tutoring_form %}
        <p class="help-block">If you have any extenuating circumstances and cannot tutor during any of the options listed, please email <a href="mailto:webmaster@tbp.seas.ucla.edu">webmaster@tbp.seas.ucla.edu</a>.</p>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
