{% extends "base.html" %}

{% block title %}TBP House Cup Competition Rules{% endblock %}

{% block content %}

  <h1>TBP House Cup Competition Rules</h1>

  <p>This is a friendly competition held among the candidates and members of Tau Beta Pi during initiation quarters. The goal is to foster meaningful friendships and experiences between members as well as to add some competitive flavor to the quarter. Individuals can earn points in the following ways:</p>

  <h4>Ways to Earn House Points:</h4>
  <table class="table">
    <caption><b>Completing the Initiation Process</b></caption>
    <tr>
      <td>Tutoring at your scheduled hours (7 weeks) – no points for makeup</td>
      <td>2 points/wk</td>
    </tr>
    <tr>
      <td>Community Service</td>
      <td>6 points</td>
    </tr>
    <tr>
      <td>Attend social event (2)</td>
      <td>2 points/event</td>
    </tr>
    <tr>
      <td>Turn in professor interview, resume on time</td>
      <td>6 points</td>
    </tr>
    <tr>
      <td>Turn in signature book on time</td>
      <td>6 points</td>
    </tr>
    <tr>
      <td>Bent polish</td>
      <td>2 points</td>
    </tr>
    <tr>
      <td>Passing quiz on first try (70%+)</td>
      <td>2 points</td>
    </tr>
    <tr>
      <td><b>Total:</b></td>
      <td><b>40 points</b></td>
    </tr>
  </table>
  <table class="table">
    <caption><b>Extra stuff/ways to make up points</b></caption>
    <tr>
      <td>Extra tutoring (max 2 hours per week)</td>
      <td>5 points/hr</td>
    </tr>
    <tr>
      <td>Extra community service</td>
      <td>15 points/event</td>
    </tr>
    <tr>
      <td>Attending an extra social event (3+)</td>
      <td>5 points/event</td>
    </tr>
    <tr>
      <td>100%     on membership quiz</td>
      <td>15 points</td>
    </tr>
    <tr>
      <td>90%-99%  on membership quiz</td>
      <td>10 points</td>
    </tr>
    <tr>
      <td>80%-89%  on membership quiz</td>
      <td>5 points</td>
    </tr>
  </table>
  <table class="table">
    <caption><b>Social events</b></caption>
    <tr>
      <td>If 100% members of house attend an event/social</td>
      <td>3 points/attendee</td>
    </tr>
    <tr>
      <td>If 70%+ members of house attend an event/social</td>
      <td>2 points/attendee</td>
    </tr>
    <tr>
      <td>If 50%+ members of house attend an event/social</td>
      <td>1 points/attendee</td>
    </tr>
  </table>
  <table class="table">
    <caption><b>Interviews and Resumes</b></caption>
    <tr>
      <td>1st house to turn in all interviews and resumes</td>
      <td>6 points/person</td>
    </tr>
    <tr>
      <td>2nd house to turn in all interviews and resumes</td>
      <td>4 points/person</td>
    </tr>
    <tr>
      <td>3rd house to turn in all interviews and resumes</td>
      <td>2 points/person</td>
    </tr>
  </table>
  <h5>Distinguished Active Points</h5>
  <table class="table">
    <tr>
      <td>Tutoring at your scheduled hours (7 weeks) – no points for makeup</td>
      <td>2 points/wk</td>
    </tr>
    <tr>
      <td>Extra tutoring (max 2 hours per week)</td>
      <td>5 points/hr</td>
    </tr>
    <tr>
      <td>Attend social event (2)</td>
      <td>2 points/event</td>
    </tr>
    <tr>
      <td>Attending an extra social event (3+)</td>
      <td>5 points/event</td>
    </tr>
  </table>

  {% include "house_points_snippet.html" %}

{% endblock %}
