{% extends "base.html" %}

{% block title %}TBP House Cup Competition Rules{% endblock %}

{% block content %}

  <h1>TBP House Cup Competition Rules</h1>

  <p>This is a friendly competition held among the candidates and members of Tau Beta Pi during initiation quarters. The goal is to foster meaningful friendships and experiences between members as well as to add some competitive flavor to the quarter. Individuals can earn points in the following ways:</p>

  {% include "house_points_snippet.html" %}

  <h4>Ways to Earn House Points:</h4>
  <table class="table">
    <tr>
      <th>Completing the Initiation Process</th>
      <th>&nbsp</th>
    </tr>
    <tr>
      <td>Tutoring at your scheduled hours (7 weeks) – no points for makeup</td>
      <td>2 points/week</td>
    </tr>
    <tr>
      <td>Community Service</td>
      <td>6 points</td>
    </tr>
    <tr>
      <td>TBP Event (or Professor Interview: 4 points)</td>
      <td>6 points</td>
    </tr>
    <tr>
      <td>Turn in Signature Project</td>
      <td>6 points</td>
    </tr>
    <tr>
      <td>Social Events (2)</td>
      <td>3 points/event</td>
    </tr>
    <tr>
      <td>Bent Polish</td>
      <td>2 points</td>
    </tr>
    <tr>
      <td>Turn in Resume on time</td>
      <td>2 points</td>
    </tr>
    <tr>
      <td>Passing Candidate Quiz on first try (70%+)</td>
      <td>2 points</td>
    </tr>
    <tr>
      <td>Attend Candidate Sorting/Meet and Greet/Engineering Futures</td>
      <td>2 points each</td>
    </tr>
    <tr>
      <td><b>Total:</b></td>
      <td><b>50 points</b></td>
    </tr>
    <tr>
      <th><br>Extra Stuff/Ways To Make Up Points</th>
      <th>&nbsp</th>
    </tr>
    <tr>
      <td>Extra tutoring (max 2 hours per week)</td>
      <td>2 points/hour</td>
    </tr>
    <tr>
      <td>Extra community service</td>
      <td>12 points/event</td>
    </tr>
    <tr>
      <td>Extra TBP event</td>
      <td>12 points/event</td>
    </td>
    <tr>
      <td>Attending an extra social event (3+)</td>
      <td>6 points/event</td>
    </tr>
    <tr>
      <td>100% on candidate  quiz</td>
      <td>8 points</td>
    </tr>
    <tr>
      <td>90%-99% on candidate quiz</td>
      <td>6 points</td>
    </tr>
    <tr>
      <td>80%-89% on candidate quiz</td>
      <td>4 points</td>
    </tr>
    <tr>
      <td>Best signature project - first place</td>
      <td>18 points</td>
    </tr>
    <tr>
      <td>Best signature project - second place</td>
      <td>12 points</td>
    </tr>
    <tr>
      <td>Best signature project - third place</td>
      <td>6 points</td>
    </tr>
    <tr>
      <th><br>Social Events</th>
      <th>&nbsp</th>
    </tr>
    <tr>
      <td>If 100% members of house attend an event/social</td>
      <td>3 points/attendee</td>
    </tr>
    <tr>
      <td>If 70%+ members of house attend an event/social</td>
      <td>2 points/attendee</td>
    </tr>
    <tr>
      <td>If 50%+ members of house attend an event/social</td>
      <td>1 points/attendee</td>
    </tr>
    <tr>
      <th><br>Resumes</th>
      <th>&nbsp</th>
    </tr>
    <tr>
      <td>1st house to turn in all resumes</td>
      <td>3 points/person</td>
    </tr>
    <tr>
      <td>2nd house to turn in all resumes</td>
      <td>2 points/person</td>
    </tr>
    <tr>
      <td>3rd house to turn in all resumes</td>
      <td>1 points/person</td>
    </tr>
    <tr>
      <th><br>Distinguished Active Points</th>
      <th>&nbsp</th>
    </tr>
    <tr>
      <td>Tutoring at your scheduled hours (7 weeks) – no points for makeup</td>
      <td>2 points/week</td>
    </tr>
    <tr>
      <td>Extra tutoring (max 2 hours per week)</td>
      <td>4 points/hour</td>
    </tr>
    <tr>
      <td>Attend TBP event (2)</td>
      <td>3 points/event</td>
    </tr>
    <tr>
      <td>Attending an extra TBP event (3+)</td>
      <td>6 points/event</td>
    </tr>
  </table>


{% endblock %}
