<div class="panel panel-primary">
   <div class="panel-heading" style="padding:5px; margin:0px;">
        <table class="table table-condensed" style="table-layout:fixed; padding:0px; margin:0px">
            <tr>
            <th style="border-top: none;"></th>
            {% for house in houses %}
            <th style="border-top: none;">{{ house }}</th>
            {% endfor %}
            </tr>
        </table>
   </div>
   <div class="panel-body" style="padding:5px; margin:0px;">
       <table class="table table-condensed" style="table-layout:fixed; padding:0px; margin:0px">
        <tr>
        <td style="border-top: none;">Points</td>
        {% for house in houses %}
        <td style="border-top: none;">{{ house.points }}</td>
        {% endfor %}
        </tr>
        </table>
   </div>
</div>
