{% extends "base.html" %}

{% block title %}Manage Events{% endblock %}

{% block content %}
<h1>Event Management</h1>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
          <form role="form" method="post">
            {% csrf_token %}
                <select name="action">
                  <option value="{{dropdown_term.id}}">{{ dropdown_term }}</option>
                  <option class="select-dash" disabled="disabled">----------</option>
                  {% for t in terms %}
                    <option value="{{ t.id }}">{{ t }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary" name="submit">Change Term</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
