{% extends "profile_base.html" %}

{% block tabcontent %}

<div class="row">
  <div class="col-lg-6">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <legend>Distinguished Active Member {{ term }}</legend>
        {% if member_form %}
          {% include "form_snippet.html" with form=member_form %}
          <div class="form-group">
            <p class="help-block">Fill out the tutoring preferences below if you're signing up for tutoring.</p>
          </div>
          {% include "form_snippet.html" with form=tutoring_preferences_form %}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        {% else %}
          You are signed up for {{ requirement }}.
        {% endif %}
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
