{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-lg-6">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <legend>Register TBP Account</legend>
        <p class="help-block">Registration is temporarily down. Please email president@tbp.seas.ucla.edu if you have any questions.
        {% include "form_snippet.html" %}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
