{% extends "base.html" %}
 
{% block title %}Partnership Spotlight{% endblock %}

{% block content %}

<h2>Partnership Spotlight</h2>
  <!-- <img src="..."> --> <!--Sponsor Logo Collage -->
  <p>While Tau Beta Pi is committed to promoting the growth of future engineers, our programs could not come to fruition without the support of our partners. These sponsors provide us with the means to continue hosting great programs like the Rube Goldberg Competition [link] and <a href="{% url 'web.views.emcc' %}">EMCC</a> year after year.</p>
  <p>If you or someone you know is interested in partnering with Tau Beta Pi at UCLA, please contact our Corporate Relations team at <a href="mailto:corporate@tbp.seas.ucla.edu">corporate@tbp.seas.ucla.edu</a>. For more information, see our Partnership Handout [link to file view/download].</p>
  <table id="invisible-table">
  <tr>
    <td>Logo1</td>
    <td>Sponsor 1</td>
    <td>Platinum</td>
  </tr>
  <tr>
    <td>Logo2</td>
    <td>Sponsor 2</td>
    <td>Gold</td>
  </tr>
  <tr>
    <td>Logo3</td>
    <td>Sponsor 3</td>
    <td>Silver</td>
  </tr>
  <tr>
    <td>Logo4</td>
    <td>Sponsor 4</td>
    <td>Bronze</td>
  </tr>
  </table>

{% endblock %}




