{% extends "base.html" %}

{% block title %} Tutoring Hours Logging {% endblock %}

{% block content %}
<h1>Tutoring Hours Logging</h1>
<div class="row">
  <div class="col-md-12">
    {% if error %}
        <p class="text-danger">{{ error }}</p>
    {% elif isTutoring %}
        <p>You've tutored {{ hours }} hours since you've signed in (For your convenience, we round up at the 45 minute mark. However, fractional hours are not counted)</p>
    {% endif %}

    {% if isTutoring %}
        <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                Number of Tutees: <input type="number" name="tutees" min="0" value="0"/>
            </div>
            <div class="form-group">
                Subjects Tutored:
                <div style="height:200px; overflow-y:scroll">
                {% for class in classes %}
                    {% if class.display %}
                    <input type="checkbox" name="subjects" id="choice{{ forloop.counter }}" value="{{ class.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.department }} {{ choice.course_number }}</label>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="form-group">
              How much of this time is makeup?
                  <ul>
                <li>For a previous week: <input type="number" name="makeup_tutoring" min="0" value="0"/> </li>
                <li>For an event I missed: <input type="number" name="makeup_event" min="0" value="0"/> </li>
              </ul>
            </ul>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="sign_out">Sign out of Tutoring</button>
            </div>
        </form>
    {% else %}
        <p>
        <form role="form" method="post">
            {% csrf_token %}
            <div class="form group">
                <button type="submit" class="btn btn-primary" name="sign_in">Sign in to Tutoring</button>
            </div>
        </form>
    {% endif %}
  </div>
</div>
{% endblock %}
